.Toolbar {
    height: 56px;
    width: 90%;
    margin: auto;
    position: absolute;
    top: 0;
    right: 40px;
    
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* padding: 0 20px; */
    /* box-sizing: border-box; */
    z-index: 90;
}


.Toolbar nav {
    height: 100%;
    position: absolute;
    right: 0;
}

.Logo {
    height: 80%;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}