@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.Toolbar {
  height: 56px;
}

.Layout {
  margin: 1em auto;
  max-width: 1000px;
  padding: 0 1rem;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Content {
    padding-top: 30px;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}